body {
  color: #34495e;
}

body #ttl {
  text-align: center;
  background-image: linear-gradient(
    to top,
    #3498db,
    #3983ba,
    #3a6f9a,
    #385c7b,
    #34495e
  );
  padding-top: 10px;
  padding-bottom: 15px;
  color: white;
  font-weight: 100;
  height: 53px;
  margin: 0;
}
#back {
  width: 50px;
  height: 43px;
  font-size: 33px;
  color: white;
  margin-top: -54px;
  margin-left: 9px;
  font-weight: 100;
}
body h5 {
  text-align: center;
  margin-top: 10px;
  font-weight: 100;
}
#container {
  width: 100%;
  padding: 5px;
  padding-top: 50px;
  /* border: 1px solid black; */
  color: #34495e;
}
#blah {
  width: 97px;
  height: 97px;
  border: 4px solid #34495e;
  margin-top: 10px;
}
#container p {
  margin-bottom: 7px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 6px;
}
#container h4 {
  text-align: center;
  margin-top: 5px;
}
#container h6 {
  text-align: center;
  margin-top: 5px;
  font-size: 12px;
}
#cntimg {
  border: 3px solid #34495e;
  background-color: #f7f7f7; /* padding: 5px; */
  width: 97px;
  height: 97px;
  overflow: hidden;
  margin: auto;
}
textarea {
  resize: none;
  width: 100%;
  padding: 5px;
  border: 1px solid #34495e;
  font-size: 12px;
}
#competence {
  width: 100%;
  /* border: 1px solid #34495e; */
  padding: 5px;
}
#competence h5 {
  text-align: left;
  font-weight: 400;
}
#competence .tags {
  display: inline-block;
  background-color: #3498db;
  color: white;
  border: 1px solid black;
  border-radius: 5px;
  padding-left: 5px;
  padding-right: 5px;
}
#competence .add_comp {
  background-color: #2980b9;
  color: white;
  border: none;
  margin-left: 8px;
  border-radius: 5px;
}
#book_photos {
  margin-bottom: 20px;
}
#book_photos h5 {
  text-align: left;
  font-weight: 400;
  color: #34495e;
}
#book_photos .pics {
  width: 22%;
  height: 22%;
  display: inline-block;
  margin-left: 5px;
}
#book_photos #up {
  border: 1px solid #2980b9;
  padding: 5px;
  margin-top: 10px;
}
.pics img {
  max-width: 100%;
  max-height: 100%;
}
#container #pay {
  width: 80%;
  height: 40px;
  border-radius: 50px;
  position: absolute;
  margin-left: 50%;
  transform: translateX(-50%);
  background-color: #3498db;
  color: white;
  /* border: 1px solid #34495e; */
  border: none;
  box-shadow: 0px 3px 12px -4px black;
  margin-bottom: 50px;
  margin-top: 20px;
}
